<section>
    <div class="reset-password-container">
        <h2>Reset Password</h2>
        <span>Create a new password for your Videoflix account.</span>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" name="contactForm">

            <div class="input-group">
                <input 
                    #password="ngModel"
                    [(ngModel)]="contactData.password"
                    [type]="passwordVisible ? 'text' : 'password'"
                    placeholder="Enter a password"
                    name="password"
                    required
                    minlength="8">
                <img 
                    [src]="passwordVisible ? 'assets/icons/visibility.svg' : 'assets/icons/visibility_off.svg'"
                    class="toggle-password"
                    (click)="togglePasswordVisibility('password')">
            </div>

            <div *ngIf="password.touched && password.errors" class="error">
                <img src="assets/icons/warning.svg" alt="">
                <span *ngIf="password.errors['required']">Password is required</span>
                <span *ngIf="password.errors['minlength']">Password must be at least 8 characters</span>
            </div>

            <div class="input-group">
                <input 
                    #confirmPassword="ngModel"
                    [(ngModel)]="contactData.repeated_password"
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    placeholder="Confirm password"
                    name="confirmPassword"
                    required>
                <img 
                    [src]="confirmPasswordVisible ? 'assets/icons/visibility.svg' : 'assets/icons/visibility_off.svg'"
                    class="toggle-password"
                    (click)="togglePasswordVisibility('confirmPassword')">
            </div>

            <div *ngIf="confirmPassword.touched && contactData.password !== contactData.repeated_password" class="error">
                <img src="assets/icons/warning.svg" alt="">
                <span>Passwords do not match</span>
            </div>

            <button 
                [disabled]="!contactForm.valid || contactData.password !== contactData.repeated_password"
                type="submit">
                Reset my password
            </button>

        </form>
    </div>
</section>
