@import "./../../styles.scss";

section {
    height: calc(100vh - 192px);
    @include dFlex();

    .reset-password-container {
        @include dFlex($fd: column, $g: 16px);
        @include max-width();
        @include wrapper();
        width: 90%;
        background-color: #1b1b22d9;

        h2 {
            color: $dark;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.0;

            @media (max-width: 576px) {
                font-size: 32px;
            }
        }

        span {
            font-size: 18px;
            color: $light;
            padding-bottom: 12px;
        }

        form {
            @include dFlex($g: 24px, $fd: column);
            font-size: 18px;
            width: 100%;

            .input-group {
                position: relative;
                width: 100%;

                input {
                    @include input($border-radius: 16px);
                    padding: 8px 16px;
                    font-size: 16px;
                    border: 2px solid transparent;
                    transition: border-color 0.4s ease, box-shadow 0.4s ease;

                    &::placeholder {
                        color: $light;
                        opacity: 1;
                    }

                    &:hover {
                        border-color: #2e3edf;
                    }

                    &:focus {
                        border-color: #2e3edf;
                        box-shadow: 0 0 8px 2px rgba(46, 62, 223, 0.5);
                        animation: pulseBorder 1s ease-in-out;
                        outline: none;
                    }
                }

                .toggle-password {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: $dark;
                }
            }

            button {
                @include button();
                margin-top: 16px;
                font-size: 16px;
                padding: 12px;
                width: 100%;
                border-radius: 16px;

                &:disabled {
                    background-color: $light;
                }
            }
        }
    }

    .error {
        color: red;
        font-size: 12px;
        @include dFlex($jc: flex-start);
        margin-top: -20px;
        width: 100%;
        text-align: left;
        padding-left: 16px;

        img {
            padding-right: 6px;
        }
    }
}

@keyframes pulseBorder {
    0% {
        box-shadow: 0 0 0 0 rgba(46, 62, 223, 0.7);
    }
    50% {
        box-shadow: 0 0 10px 8px rgba(46, 62, 223, 0);
    }
    100% {
        box-shadow: 0 0 8px 2px rgba(46, 62, 223, 0.5);
    }
}
