<section>
    <div class="forgot-password-container">
      <h2>Forgot your password?</h2>
      <span>
        We will send you an email with instructions to reset your password.
      </span>
  
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" name="contactForm">
        <div class="input-group">
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            placeholder="Email Address"
            id="email"
            name="email"
            required
            (focus)="emailFocused = true"
            (blur)="emailFocused = false"
          />
          <img src="assets/icons/mail.svg" alt="icon" class="input-icon" />
        </div>
  
        @if (email.touched && email.errors) {
          <div class="error">
            @if (email.errors['required']) {
              <img src="assets/icons/warning.svg" alt="" />
              invalid email
            }
            @if (email.errors['pattern']) {
              <img src="assets/icons/warning.svg" alt="" />
              invalid email format
            }
          </div>
        }
  
        <button [disabled]="!contactForm.valid" type="submit">Send Email</button>
      </form>
  
      <div>{{ message }}</div>
    </div>
  </section>
  